[submodule "raylib"]
	path = raylib
	url = git@github.com:raysan5/raylib.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = git@github.com:nicksanford/ffmpeg.git
